/* Displays temperatures */
.weather-temp-container .active {
  display: block;
}

/* Hides temperatures */
.weather-temp-container .hidden {
  display: none;
}

/* Styling the temp toggle button */
#temp-toggle {
  border: none;
  border-radius: 100px;

  font-size: 12;

  padding: 5px 10px;
  margin: 5px 5px;
}
